.container{
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.container span{
  font-family: sans-serif;
  text-transform: uppercase;
  display: block;
}
.text1{
  color: yellow;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
    animation: text 4s 1;
}
@keyframes text {
  0%{
    color: black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;

  }
}
#ul1{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: cursive;
}

#list1{
  float: left;
}

#list1 a {
  display: block;
  color: #e6e600;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#list1 a:hover:not(.active) {
  background-color: black;
}

.active {
  background-color: grey;
}
#wbody{
  background-image: url('bee.jpg');
  background-size: cover;
  
}
#whead{
  font-size: 50px;
  font-family: fantasy;
  color: #e6e600;
  letter-spacing: 8px;
}
#head1{
  font-size: 2em;
  color:  #e6e600;
  text-decoration: underline;
  font-family: sans-serif;
}
#para{
   color:  #e6e600; 
  max-width: 500px;
}
#para2{
   color:  #e6e600; 
   max-width: 500px;
}
#head2{
  font-size: 2em;
  color:  #e6e600;
  text-decoration: underline;
  font-family: sans-serif;
}
#para3{
   font-size: 1em;
   color: #0099cc; 
   max-width: 500px;
}
#head3{
  font-size: 2em;
  color:  #e6e600;
  text-decoration: underline;
  font-family: sans-serif;
}
#ul2{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #333;
}

#list2 a {
  display: block;
  color: #e6e600;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
#list2 a:hover {
  background-color: #555;
  color: #e6e600;
}
#bhead{
  font-family: sans-serif;
  color: black;
}
#ul3{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #333;
  font-family: cursive;
}

#list3 a {
  display: block;
  color: #0099cc;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
#list3 a:hover {
  background-color: #555;
  color: #0099cc;
}
#gbody{
  background-image: url('pc.jpg');
}
#ghead{ 
  font-size: 50px;
  font-family: fantasy;
  color: #0099cc;
  letter-spacing: 8px;
}
#para3{
  font-size: 20px;
  font-family: sans-serif;
}
#hhead{
  font-family: cursive;
}
#pbody{
  background-image: url('pubg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#phead{
  font-size: 50px;
  font-family: fantasy;
  letter-spacing: 5px;
  color: #8a8a5c;
}
#ppara{
  max-width: 800px;
  color: #8a8a5c;
  font-family: sans-serif;
}
#ppara1{
  max-width: 800px;
  color: #8a8a5c;
  font-family: sans-serif;
}
#phead2{
  color: #8a8a5c;
  font-family: sans-serif;
  font-size: 30px;
}
#ppara2{
  max-width: 800px;
  color: #8a8a5c;
  font-family: sans-serif;
}
#phead3{
  color: #8a8a5c;
  font-family: sans-serif;
   font-size: 30px;
}
#img1{
  width: 300px;
  align-content: center;
}
#ulp{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: cursive;
}

#listp{
  float: left;
}

#listp a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#listp a:hover:not(.active) {
  background-color: black;
}

.active {
  background-color: grey;
}
#fhead{
   font-size: 50px;
  font-family: fantasy;
  letter-spacing: 6px;
  color: #e600e6;
}
#ulf{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: cursive;
}

#listf{
  float: left;
}

#listf a {
  display: block;
  color: #e600e6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#listf a:hover:not(.active) {
  background-color: black;
}

.active {
  background-color: grey;
}
#fbody{
  background-image: url('fort.jpg');
  background-size: cover;
}
#fpara1{
  max-width: 650px;
  font-family: sans-serif;
  color: #e600e6;
}
#fhead2{
  color: #e600e6;
  font-family: sans-serif;
   font-size: 30px;
}
#fpara2{
  max-width: 650px;
  font-family: sans-serif;
  color: #e600e6;
}
#fhead3{
  color: #e600e6;
  font-family: sans-serif;
   font-size: 30px;
}
#fpara3{
  max-width: 500px;
  font-family: sans-serif;
  color: #e600e6;
}
#abody{
  background-image: url('apex.jpg');
}
#ula{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: cursive;
}

#lista{
  float: left;
}

#lista a {
  display: block;
  color: #cc0000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#lista a:hover:not(.active) {
  background-color: black;
}

.active {
  background-color: grey;
}
#ahead{
   font-size: 50px;
  font-family: fantasy;
  letter-spacing: 6px;
  color: #cc0000;
}
#apara1{
  max-width: 650px;
  font-family: sans-serif;
  color: #cc0000;
}
#ahead2{
  color: #cc0000;
  font-family: sans-serif;
   font-size: 30px;
}
#apara2{
  max-width: 650px;
  font-family: sans-serif;
  color: #cc0000;
}
#ahead3{
  color: #cc0000;
  font-family: sans-serif;
   font-size: 30px;
}
#apara3{
  max-width: 650px;
  font-family: sans-serif;
  color: #cc0000;
}
#ahead4{
  color: #cc0000;
  font-family: sans-serif;
   font-size: 30px;
}
#apara4{
  max-width: 700px;
  font-family: sans-serif;
  color: #cc0000;
}
#cbody{
  background-image: url('cod.jpg');
  background-size: cover;
}
#chead{
   font-size: 50px;
  font-family: fantasy;
  letter-spacing: 6px;
  color: #a6a6a6;
}
#ulc{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: cursive;
}

#listc{
  float: left;
}

#listc a {
  display: block;
  color: #a6a6a6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#listc a:hover:not(.active) {
  background-color: black;
}

.active {
  background-color: black;
}
#cpara1{
   max-width: 680px;
  font-family: sans-serif;
  color: #a6a6a6;
}
#chead2{
  color: #a6a6a6;
  font-family: sans-serif;
  font-size: 30px;
}
#cpara2{
  max-width: 650px;
  font-family: sans-serif;
  color: #a6a6a6;
}
#chead3{
  color: #a6a6a6;
  font-family: sans-serif;
  font-size: 30px;
}
#cpara3{
  max-width: 700px;
  font-family: sans-serif;
  color: #a6a6a6;
}


